<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


    <!-- Services Section -->
    <div class="container my-5">
      <h2 class="text-center mb-4">Our Services</h2>
      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <img src="\assets\check-up.jpg" class="card-img-top" alt="Service 1" >
                  <div class="card-body">
                      <h5 class="card-title">General Checkup</h5>
                      <p class="card-text">Regular health checkups are important for maintaining your health.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <img src="\assets\pediatric-care.jpg" class="card-img-top" alt="Service 2">
                  <div class="card-body">
                      <h5 class="card-title">Pediatric Care</h5>
                      <p class="card-text">Comprehensive healthcare services for children.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <img src="\assets\dental-care.jpg" class="card-img-top" alt="Service 3">
                  <div class="card-body">
                      <h5 class="card-title">Dental Care</h5>
                      <p class="card-text">Complete dental care services for your friends and family.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>


</body>
</html>
