<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Log In
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="form-group"  (ngSubmit)="getData()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="username" (keyup)="ValidateInput($event,'username')" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username">
        <span class="text-danger">{{error.username}}</span>
        </div>
        <div class="modal-body">
        <label for="username">Password</label>
        <input type="password" [(ngModel)]="password"  (keyup)="ValidateInput($event,'password')" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="password">
        <span class="text-danger">{{error.password}}</span>
        </div>

    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
    </div>
  </div>
</form>
</div>
