<div class="container my-5">
  <h2 class="text-center mb-4">Meet Our Doctors</h2>
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <img src="image.png" class="card-img-top" alt="Doctor 1">
              <div class="card-body">
                  <h5 class="card-title">Dr. John Doe</h5>
                  <p class="card-text">Specialist in General Medicine</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <img src="image.png" class="card-img-top" alt="Doctor 2">
              <div class="card-body">
                  <h5 class="card-title">Dr. Jane Smith</h5>
                  <p class="card-text">Pediatric Specialist</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <img src="image.png" class="card-img-top" alt="Doctor 3">
              <div class="card-body">
                  <h5 class="card-title">Dr. Richard Roe</h5>
                  <p class="card-text">Dental Specialist</p>
              </div>
          </div>
      </div>
  </div>
</div>
